body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    background: rgb(148, 141, 117);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#title {
    position: absolute;
    font-family: Consolas;
    left: 100px;
    width: 1624px;
    height: 75px;
    top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 36pt;
}

#gl-canvas {
    position: absolute;
    left: 400px;
    top: 100px;
    background: blue;
    width: 1024;
    height: 1024;
    display: block;
}

#menu{
    padding: 5px;
    background: rgb(48, 41, 17);
    color: white;
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: Consolas;
    width: 290px;
    height: 1014px;
    overflow-y: auto;
}

#menu .active, #menu .active:hover {
    color: green;
}

#menu a:hover {
    color: gray;
}

#debug{
    padding: 5px;
    background: rgb(48, 41, 17);
    color: white;
    position: absolute;
    left: 1424px;
    top: 100px;
    font-family: Consolas;
    width: 290px;
    height: 1014px;
    overflow-y: auto;
}

#debug ul.attention {
  list-style: none;
  margin-left: 0;
  padding-left: 20px;
}

#debug ul.attention li {
  padding-left: 1.2em;
  text-indent: -1.2em;
}

#debug ul.attention li:before {
  content: "!";
  padding-right: 10px;
}

#data-left-div {
    position: absolute;
    left: 410px;
    top: 105px;
    width: 1024;
    font-size: 14pt;
    font-weight: bold;
    font-family: Consolas;
    text-align: left;
    color: black;
}

#data-right-div {
    position: absolute;
    left: 400px;
    top: 105px;
    width: 1014px;
    font-size: 14pt;
    font-weight: bold;
    font-family: Consolas;
    text-align: right;
    color: black;
}
